.form--register--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  width: 35.12%;
  background: #fff;
  box-shadow: 12px 10px 12px #606060;
  border-radius: 5px;
  gap: 16px;
  position: relative;
}
